* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
}

html.introducao, body.intro {

    height: 100%;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

	//background: url(../../src/images/bg-principal.png) repeat;
	background-size: cover;
    padding: 0;
    margin: 0;
}

@mixin content-center() {

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	position: absolute;

}

@font-face {
    font-family: 'alarmclock';
    src: url('../fonts/alarmclock.woff') format('woff'),
        url('../fonts/alarmclock.ttf') format('truetype'),
        url('../fonts/alarm clock.eot'),
        url('../fonts/alarmclock.svg#alarmclock') format('svg'),
        url('../fonts/alarm clock.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@mixin transition($time) {

	-webkit-transition: all $time;
    -moz-transition: all $time;
    -o-transition: all $time;
    transition: all $time;
}

#game {

    .numero-niveis {

        width: 100%;
        text-align: center;
        background: #3f51b5;
        color: #fff;
        padding: 10px;
    }

    .frase {

        width: 100%;
        text-align: center;
        display: none;

        &.ganhou {

            display: block;
        }

        &.perdeu {

            display: block;
        }
    }

    .meta, .movimento {

        width: 50%;
        float: left;
        text-align: center;

        span {

            font-weight: bold;
        }
    }

    .clear {

        cursor: pointer;
    }

    .clear-bloqueado {

        pointer-events: none;
    }

    .iniciar {

        background-color: #8BC34A;
        color: #fff;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        display: inline-block;
    }

    ul {

        margin: 0;
        padding: 0;

        li {

            list-style: none;
        }
    }


}

.screen-hidden {

    width: 300px;
    height: 100%;
    position: fixed;
    right: -350px;
    top: 0;
    z-index: 99999;
    @include transition(1s);
    background: #565A6F url(../../src/images/lado.png) no-repeat right bottom;
    background-size: cover;

    &.animated {

        right: 0;
    }
}