@media screen and (max-width: 800px) {

	.screen-hidden {

	    width: 350px;

	}

	body {

	    background: #353B71 url(../../src/images/bg2.jpg);

	}

	#game {

		.tela.tela-3 {

			.conteudo {

			    height: 8640px;
			    background-position: center bottom;
			    background-size: 100%;

			}
		}

		.niveis-controle {

			li {

			   	margin-top: 130.18%;

			}
		}
	}

	.slider-container {

		display: block;
	}

	.tela-principal {

	    width: 100%;
	    transform: none;
	    -webkit-transform: none;
	    left: inherit;
	    top: inherit;
	    position: inherit;
	    height: inherit;
	    overflow: hidden;
	    border-radius: 0;
	}

}